In [1]:
#importing the libraries

from requests import get
from bs4 import BeautifulSoup as soup
import pandas as pd
import os

In [2]:
url = get("https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1")

In [3]:
request = url.text

In [4]:
soup_data = soup(request,'html.parser')

In [6]:
soup_data.title.text

'IMDB Top 100 Hindi Movies - IMDb'

In [12]:
movies = soup_data.findAll('div',{'class':'lister-item mode-detail'})

In [14]:
first_movie = movies[0]

In [15]:
first_movie.h3.a.text   #name of the movie

'Gol Maal'

In [16]:
first_movie.find('span',{"class":"lister-item-year text-muted unbold"}).text   #year

'(1979)'

In [18]:
first_movie.find('span',{"class":"ipl-rating-star__rating"}).text  #Rating

'8.6'

In [21]:
Name = []
Year = []
Rating = []
for i in movies:
    Name.append(i.h3.a.text)
    Year.append(i.find('span',{"class":"lister-item-year text-muted unbold"}).text)
    Rating.append(i.find('span',{"class":"ipl-rating-star__rating"}).text)

In [22]:
data = list(zip(Name,Year,Rating))

In [23]:
df = pd.DataFrame (data,columns=['Name','Year','Rating'])

In [24]:
df.head()

               Name    Year Rating
0          Gol Maal  (1979)    8.6
1      Black Friday  (2004)    8.5
2            Pyaasa  (1957)    8.5
3          3 Idiots  (2009)    8.4
4  Taare Zameen Par  (2007)    8.4

In [25]:
df.tail()

                       Name    Year Rating
95  Jaane Tu... Ya Jaane Na  (2008)    7.5
96            Ek Hasina Thi  (2004)    7.5
97   Qayamat Se Qayamat Tak  (1988)    7.5
98             Socha Na Tha  (2005)    7.4
99                    Gunda  (1998)    7.3

In [28]:
df.head(50)

                                 Name    Year Rating
0                            Gol Maal  (1979)    8.6
1                        Black Friday  (2004)    8.5
2                              Pyaasa  (1957)    8.5
3                            3 Idiots  (2009)    8.4
4                    Taare Zameen Par  (2007)    8.4
5                              Masoom  (1983)    8.4
6                  Jaane Bhi Do Yaaro  (1983)    8.4
7                               Guide  (1965)    8.4
8                               Anand  (1971)    8.3
9                   Khosla Ka Ghosla!  (2006)    8.3
10                             Angoor  (1982)    8.3
11                      Chupke Chupke  (1975)    8.3
12                     Chhoti Si Baat  (1976)    8.3
13                 Gangs of Wasseypur  (2012)    8.2
14           Zindagi Na Milegi Dobara  (2011)    8.2
15             Swades: We, the People  (2004)    8.2
16                    Rang De Basanti  (2006)    8.2
17                         Hera Pheri  (2000)    8.2
18                              Udaan  (2010)    8.2
19                              Satya  (1998)    8.2
20                   Paan Singh Tomar  (2012)    8.2
21                             Sholay  (1975)    8.2
22                    Andaz Apna Apna  (1994)    8.2
23                              Black  (2005)    8.2
24                     Chak De! India  (2007)    8.2
25                 Bhaag Milkha Bhaag  (2013)    8.2
26             Jo Jeeta Wohi Sikandar  (1992)    8.2
27                      Mughal-E-Azam  (1960)    8.2
28  Lagaan: Once Upon a Time in India  (2001)    8.1
29                Munna Bhai M.B.B.S.  (2003)    8.1
30                            Kahaani  (2012)    8.1
31                     Dil Chahta Hai  (2001)    8.1
32        Dilwale Dulhania Le Jayenge  (1995)    8.1
33                             Barfi!  (2012)    8.1
34                        A Wednesday  (2008)    8.1
35                            Maqbool  (2003)    8.1
36                    OMG: Oh My God!  (2012)    8.1
37                             Omkara  (2006)    8.1
38                             Gulaal  (2009)    8.1
39         The Legend of Bhagat Singh  (2002)    8.1
40                          Sarfarosh  (1999)    8.1
41                            Deewaar  (1975)    8.1
42                       Mother India  (1957)    8.1
43                              Iqbal  (2005)    8.1
44                            Padosan  (1968)    8.1
45                           Bawarchi  (1972)    8.1
46                    My Name Is Khan  (2010)      8
47                    Special Chabbis  (2013)      8
48                              Dev.D  (2009)      8
49               Lage Raho Munna Bhai  (2006)      8

In [27]:
df.tail(50)

                            Name        Year Rating
50                       Company      (2002)      8
51                Salaam Bombay!      (1988)      8
52          Vaastav: The Reality      (1999)      8
53  Pinjar: Beyond Boundaries...      (2003)      8
54                     Shree 420      (1955)      8
55                 Kal Ho Naa Ho      (2003)    7.9
56                    Jab We Met      (2007)    7.9
57                       Lakshya      (2004)    7.9
58                       Hey Ram      (2000)    7.9
59                        Awaara      (1951)    7.9
60      Hazaaron Khwaishein Aisi      (2003)    7.9
61                         Zakhm      (1998)    7.9
62                           Dor      (2006)    7.9
63                      Abhimaan      (1973)    7.9
64                  The Lunchbox      (2013)    7.8
65                   Vicky Donor      (2012)    7.8
66                       Parinda      (1989)    7.8
67              Stanley Ka Dabba      (2011)    7.8
68                Johnny Gaddaar      (2007)    7.8
69              English Vinglish      (2012)    7.8
70               Ab Tak Chhappan      (2004)    7.8
71                           Don      (1978)    7.8
72                     Mr. India      (1987)    7.8
73                   Dasvidaniya      (2008)    7.8
74                     Gangaajal      (2003)    7.8
75                   3 Deewarein      (2003)    7.8
76                         Water  (I) (2005)    7.7
77                          Guru      (2007)    7.7
78                   Madras Cafe      (2013)    7.7
79                   Kai po che!      (2013)    7.7
80                         Earth      (1998)    7.7
81         Oye Lucky! Lucky Oye!      (2008)    7.7
82                     Rock On!!      (2008)    7.7
83                         Aamir      (2008)    7.7
84                     Agneepath      (1990)    7.7
85              Mumbai Meri Jaan      (2008)    7.7
86           Shatranj Ke Khilari      (1977)    7.7
87                    Raanjhanaa      (2013)    7.6
88                   Delhi Belly      (2011)    7.6
89            Pyaar Ka Punchnama      (2011)    7.6
90                   Wake Up Sid      (2009)    7.6
91      Manorama: Six Feet Under      (2007)    7.6
92                        Sarkar      (2005)    7.6
93                     Bheja Fry      (2007)    7.6
94                      Rangeela      (1995)    7.5
95       Jaane Tu... Ya Jaane Na      (2008)    7.5
96                 Ek Hasina Thi      (2004)    7.5
97        Qayamat Se Qayamat Tak      (1988)    7.5
98                  Socha Na Tha      (2005)    7.4
99                         Gunda      (1998)    7.3

In [29]:
os.getcwd()

'/Users/ankitraj1'

In [30]:
df.to_csv('Top 100 Indian movies on imdb',index=False)